@import "src/theme";

.cart-icon {
  margin: 0px auto;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $DayBreakBlueTheme1;
    transition: 0.3s;
  }
}

.top-header {
  a, p {
    font-size: .8125rem;
    cursor: pointer;

    &:hover {
      color: $DayBreakBlueTheme6;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    right: 0;

    p, a {
      cursor: pointer;
      color: black;
      padding: 12px;
      text-align: left;

      &:hover {
        background-color: $NeutralGrayTheme3;
      }
    }
  }

  &:hover {
    .dropdown-content {
      display: flex;
      flex-direction: column;

    }
  }
}

