.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    text-align: center;
}

.pointDescription {
    color: black;
}

.productDetailPage .starReview {
    font-size: 14px !important;
}


.amountBtn {
    height: 30px;
    width: 35px;
    background-color: white;
    border: 1px solid #E8E8E8;
    cursor: pointer;
}

.amountInput {
    height: 30px;
    width: 40px;
    background-color: white;
    border: 1px solid #E8E8E8;
    text-align: center;
}