@import "theme.scss";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F5FA !important;
    font-size: 0.895rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}


.css-1oqqzyl-MuiContainer-root {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.ck-editor__editable_inline {
    min-height: 400px;
}